/* Layout
-----------------------------*/
html, body, #home {
	height: 99%;
}

#index {
	background: url(../imagens/capa.png),
		url(../imagens/ruido.png),
		linear-gradient(50deg, #ff4169, #7c26f8);
	background-attachment: fixed;
	font-family: Helvetica, Arial, sans-serif;
}

#Edfisica {
	background: url(../imagens/capa.png),
		url(../imagens/ruido.png),
		linear-gradient(50deg, #ff4169, #7c26f8);
	background-attachment: fixed;
	font-family: Helvetica, Arial, sans-serif;
}

#prontuario {
	background: url(../imagens/capa.png),
		url(../imagens/ruido.png),
		linear-gradient(50deg, #ff4169, #7c26f8);
	background-attachment: fixed;
	font-family: Helvetica, Arial, sans-serif;
}

#membros {
	background: url(../imagens/capa.png),
		url(../imagens/ruido.png),
		linear-gradient(50deg, #ff4169, #7c26f8);
	background-attachment: fixed;
	font-family: Helvetica, Arial, sans-serif;

	.image-container {
		display: flex;
		flex-wrap: wrap;
	}

	.image-wrapper {
		text-align: center;
		margin-right: 20px;
		margin-bottom: 20px;
		margin-top: 20px;
		margin-left: 3.9%;
	}

	.image-wrapper img {
		width: 270px;
		height: 270px;
		object-fit: cover;
		border-radius: 50%;
	}

	.image-text {
		margin-top: 15px;
		opacity: 0;
		transition: opacity 0.3s;

	}

	.hover-effect:hover {
		filter: brightness(30%);
		transition: filter opacity 1s ease;
		/* Adiciona uma transição suave de 0,3 segundos */
	}

	#texto-membro {
		padding-top: 70px;
		color: #9bf0d1;
	}

	.circle-border {
		border: 4px solid black;
	}

	.image-wrapper:hover .image-text {
		opacity: 1;
	}

}


#perfil_bia {
	.card-client {
		background: #2cb5a0;
		width: 14.5rem;
		padding-top: 25px;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
		border: 4px solid #7cdacc;
		box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
		border-radius: 10px;
		text-align: center;
		color: #fff;
		font-family: "Poppins", sans-serif;
		transition: all 0.3s ease;
		position: relative;
		left: 190px;
		top: 80px;
	}

	.card-client:hover {
		transform: translateY(-10px);
	}

	.user-picture {
		overflow: hidden;
		object-fit: cover;
		width: 12rem;
		height: 12rem;
		border: 4px solid #2cb5a0;
		border-radius: 999px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: auto;
	}

	.user-picture svg {
		width: 2.5rem;
		fill: currentColor;
	}

	.name-client {
		margin: 0;
		margin-top: 20px;
		font-weight: 600;
		font-size: 18px;
	}

	.name-client span {
		display: block;
		font-weight: 200;
		font-size: 16px;
	}

	.social-media:before {
		content: " ";
		display: block;
		width: 100%;
		height: 2px;
		margin: 20px 0;
		background: #7cdacc;
	}

	.social-media a {
		position: relative;
		margin-right: 15px;
		text-decoration: none;
		color: inherit;
	}

	.social-media a:last-child {
		margin-right: 0;
	}

	.social-media a svg {
		width: 1.1rem;
		fill: currentColor;
	}

	/*-- Tooltip Social Media --*/
	.tooltip-social {
		background: #262626;
		display: block;
		position: absolute;
		bottom: 0;
		left: 50%;
		padding: 0.5rem 0.4rem;
		border-radius: 5px;
		font-size: 0.8rem;
		font-weight: 600;
		opacity: 0;
		pointer-events: none;
		transform: translate(-50%, -90%);
		transition: all 0.2s ease;
		z-index: 1;
	}

	.tooltip-social:after {
		content: " ";
		position: absolute;
		bottom: 1px;
		left: 50%;
		border: solid;
		border-width: 10px 10px 0 10px;
		border-color: transparent;
		transform: translate(-50%, 100%);
	}

	.social-media a .tooltip-social:after {
		border-top-color: #262626;
	}

	.social-media a:hover .tooltip-social {
		opacity: 1;
		transform: translate(-50%, -130%);
	}
	#area-texto{
		background-color: red;
		float: right;
		width: 60%;
		left: 0%;
		position: relative;
		bottom: 290px;
		right: 200px;
	}
	
	/* Defina o tamanho das imagens retangulares */
.galeria img {
    width: 300px; /* Ajuste o tamanho conforme necessário */
    height: 200px; /* Ajuste o tamanho conforme necessário */
    margin-left: 100px; /* Adiciona uma margem entre as imagens */
	top: 120px;
    float: left; /* Faz as imagens flutuarem à esquerda para que fiquem em linha */
	position: relative;
	left: 70px;
	margin-top: 30px;
	bottom: 20px;
}

#foto1{
	position: relative;
	bottom: 900px;
}

/* Limpa a flutuação após as linhas de imagens */
.galeria::after {
    content: "";
    display: table;
    clear: both;
}





}/* fim perfil bia /*


/* Barra de navegação
-----------------------------*/
nav.navbar-transparente {
	padding: 5px 0px;
	background: rgba(0, 0, 0, 0.7);
}

.navbar-light .navbar-nav .nav-link {
	color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #9bf0e1;
}

.navbar-light .navbar-toggler {
	color: rgba(255, 255, 255, .5);
	border-color: rgba(255, 255, 255, 0.5);
}

.divisor {
	width: 1px;
	background: white;
	margin: 12px 15px;
}

.navbar {
	height: 9%;
	transition: top 0.3s;
}

.navbar-hidden {
	top: -70px;
}

/* Capa
-----------------------------*/
.capa {
	text-align: center;
}

.btn-custom {
	color: white;
	border-radius: 500px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	text-transform: uppercase;
	transition: background 0.4s, color 0.4s;
	padding: 10px 20px;
}

.btn-roxo {
	background: #7c25f8;
}

.btn-roxo:hover {
	background: #6207e3;
	color: white;
}

.btn-branco {
	border: 2px solid white;
}

.btn-branco:hover {
	background-color: white;
	color: black;
}

/* conteudos
-----------------------------*/
.caixa {
	padding-top: 20px;
	padding-bottom: 20px;
}

#servicos {
	background: white;
}

#recursos {
	color: white;
}

#servicos h2, h3 {
	color: #7c25f8;
}

#recursos h3 {
	color: #9bf0e1;
}

#recursos h2 {
	color: white;
}



.albuns {
	padding: 10px 0;
}

/* Tipografia
-----------------------------*/
h1 {
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
	color: white;
}

h2 {
	font-size: 3em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h3 {
	font-size: 2em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.btn-custom {
		margin: 10px 15px;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	h1 {
		font-size: 3em;
	}

	.btn-custom {
		margin: 10px 15px;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	h1 {
		font-size: 4em;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	h1 {
		font-size: 5em;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	h1 {
		font-size: 6em;
	}
}



footer {
	background: #000;
	padding: 50px 0px 20px 0px;
	position: relative;
	height: 220;
}

footer h4 {
	color: #919496;
	font-size: 0.8em;
	text-transform: uppercase;
}

footer .navbar-nav a {
	color: white;
	font-size: 0.8em;
}

footer .navbar-nav a:hover {
	color: #9bf0d1;
	text-decoration: none;
}

footer ul {
	list-style: none;
}

footer ul li {
	float: right;
	margin: 0 5px;

}




.custom-class {
	padding-left: 450px;
	font-size: 20px;
}

.animation {
	float: none;
	margin: 0 auto;
	font-family: monospace;
	border-right: 4px solid;
	width: 14ch;
	white-space: nowrap;
	overflow: hidden;
	animation: typing 3s;
}

@keyframes typing {
	from {
		width: 0;
	}
}

@keyframes blinking {
	50% {
		border-color: transparent;
	}
}

.efeito-hover {
	transition: transform 0.3s;
}

.efeito-hover:hover {
	transform: scale(1.1);

}


/* parte projetos.html*/
.jumbotron h1 {
	color: black;

}


.carousel img {
	max-width: 270px;
}

.iphone-pequeno {
	height: 600;
	width: 800;
}
